body{
    overflow-x: hidden;
    background-color: #F0F2F5;
}

div#principal{
    width: 1400px;
}

div#principal div#facebook img{
    width: 240px;
    margin-top: 200px;
    margin-left: 180px;
}

div#principal div#facebook h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    margin-left: 180px;
    margin-top: 16px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}

div#principal div#facebook div#criar{
    float: right;
    margin-right: 250px;
    margin-top: -260px;
    display: block;
    text-align: center;
    width: 400px;
    height: 380px;
    box-shadow: -10px -10px 15px #fbfdff,
    10px 10px 15px #d6dce4;
    border-radius: 10px;
}

::placeholder{
    font-size: 14px;
    font-weight: 500;
    color: #575757;
    letter-spacing: 0.5px;
}

input#email{
    border: none;
    background-color: transparent;
    box-shadow: inset -10px -10px 15px #fbfdff,
    inset 10px 10px 15px #d6dce4;
    padding: 10px;
    width: 85%;
    border-radius: 7px;
    height: 32px;
    margin-top: 20px;
}

input#senha{
    border: none;
    background-color: transparent;
    box-shadow: inset -10px -10px 15px #fbfdff,
    inset 10px 10px 15px #d6dce4;
    padding: 10px;
    width: 85%;
    border-radius: 7px;
    height: 32px;
    margin-top: 20px;
}

input#entrar{
    display: block;
    width: 90%;
    height: 50px;
    margin-top: 24px;
    margin-left: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1877f2;
    color: #fbfdff;
    box-shadow: -6px -6px 15px #ffffff,
    6px 6px 15px #acb0b4;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

input#entrar:active{
    background: linear-gradient(145deg, #1558b1, #3e8ef8);
    box-shadow: -6px -6px 15px #ffffff,
    6px 6px 15px #acb0b4,
    inset -6px -6px 15px #559dfc,
     inset 6px 6px 15px #124e9c;
}

a#link{
    color: #1877f2;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: block;
    margin-top: 20px;
}

a#link:hover{
    color: #1877f2;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: block;
    margin-top: 20px;
}

hr{
    width: 85%;
    margin-top: 20px;
    color: #f0f0f0;
}

input#criarconta{
    display: block;
    width: 45%;
    height: 50px;
    margin-top: 24px;
    margin-left: 110px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #42B72A;
    color: #fbfdff;
    box-shadow: -6px -6px 15px #ffffff,
    6px 6px 15px #acb0b4;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

input#criarconta:active{
    background: linear-gradient(145deg, #31881f, #45cf29);
    box-shadow: -6px -6px 15px #ffffff,
    6px 6px 15px #acb0b4,
    inset -6px -6px 15px #45cf29,
     inset 6px 6px 15px #31881f;
}

a#link2{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
}

a#link2:hover{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-weight: bold;
}

p#span{
    float: right;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 150px;
    margin-right: -432px;
    font-size: 14px;
}
